.main{
	width:100%;
	background-color:white;
	display:flex;
	justify-content:center;
	text-align:center  
}
.left{
	width: 30%;
	border: 3px solid red;
	box-shadow: 3px 3px 3px green;
	margin: 1%;
	padding: 1%;
	background-color: pink;
}
.right{
	width:20%;
	border: 3px solid green;
	box-shadow: 3px 3px 3px blue;
	margin: 1%;
	padding: 1%;
	background-color: violet;
}
img{
	width: 50%;
}
h1,
h2,
h3{
	font-size:40px; 
}
@media only screen and (max-width:1024px) {
	.main{
		display: flex;
		flex-direction: column;
	}
	.left
	{
		width:50%;
	}
}